/ListasJava/Q1/nbproject/private/
/ListasJava/Q1/build/
/ListasJava/Q2/nbproject/private/
/Cadeira/build/
/Cadeira/nbproject/private/
/Q3/nbproject/private/
/ListasJava/Q2/build/
/prova_fila/q1/nbproject/private/
/prova_fila/q1/build/
/prova_fila/q2/nbproject/private/
/prova_fila/q2/build/
/prova_fila/q3/nbproject/private/
/prova_fila/q3/build/
/prova_fila/q4/nbproject/private/
/prova_fila/q4/build/